@import './../../../styles/styles.scss';

.breed-list {
  @include grid-layout(6, 25px);
  padding: 30px;

  @media (max-width: 768px) {
    @include grid-layout(2, 25px);
  }
}

.breed-list__item {
  display: flex;
  justify-content: center;
  align-items: stretch;
}